@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-slate-800;
    font-family: "Lato", sans-serif;
  }
  body {
    overflow-x: hidden;
  }
  .nav-btn {
    @apply hover:text-WGold;
  }
  .footer-container {
    @apply flex flex-col gap-5 justify-center items-start;
  }
  .footer-ico {
    @apply h-6 cursor-pointer;
  }
  .footer-container-base {
    @apply xs:px-10 sm:px-20 md:px-20 lg:px-20 xl:px-20 2xl:px-20 p-10 grid gap-10 bg-slate-700 text-sm grid-cols-1;
  }
  .text-field {
    @apply rounded-md px-2;
  }
  .add-field {
    @apply rounded-md px-2 w-80;
  }
  .nav-css:before {
    position: absolute;
    content: "Menu";
    top: 1rem;
    left: -1rem;
    rotate: -90deg;
  }
  .active-nav {
    right: 0 !important;
  }
}
